WebSite.Configuration/WebSiteSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:WebSite.Configuration" elementFormDefault="qualified" targetNamespace="urn:WebSite.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="website" type="tns:WebSite.Configuration.WebSiteCT" />
	<xs:complexType name="WebSite.Configuration.WebSiteCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="container" type="tns:WebSite.Configuration.ContainerInfoCT">
				<xs:annotation>
					<xs:documentation>The Container.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="externalLinks" type="tns:WebSite.Configuration.ExternalLinkCollectionCT">
				<xs:annotation>
					<xs:documentation>The ExternalLinks.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="tag" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Tag.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WebSite.Configuration.ExternalLinkCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="link" type="tns:WebSite.Configuration.ExternalLinkCT">
				<xs:annotation>
					<xs:documentation>The ExternalLink Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="WebSite.Configuration.ContainerInfoCT">
		<xs:attribute name="name" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="WebSite.Configuration.ExternalLinkCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="url" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Url.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
